<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- ********************************************** -->
    <!-- 📌 المكان الصحيح لإضافة أذونات الموقع (GPS) -->
    <!-- يجب أن تكون الأذونات هنا، داخل <manifest> وخارج <application> -->
    <!-- إذن الموقع الدقيق (مطلوب لموقع المستخدم) -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- إذن الموقع التقريبي (مطلوب أيضاً) -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- ********************************************** -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:label="ecommerce"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme"
            />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>

    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>

</manifest>